<!-- Use the 'application' layout or create a new one based on your needs -->

<div class="container mx-auto mt-2">
  <!-- Main heading for the About Me section -->
  <h1 class="text-3xl font-semibold mb-4">About Me</h1>

  <!-- Introduction section -->
  <section class="mb-8">
    <!-- Subheading for the Introduction -->
    <h2 class="text-xl font-semibold mb-2">Introduction</h2>
    
    <!-- Paragraph introducing yourself -->
    <p class="text-gray-700">
      Hey there, I'm Sumit Sharma! 👋 I proudly hold a degree in Computer Engineering, graduating in 2020 from Chandigarh University. My educational journey took an exciting turn when I specialized with IBM in Information Security, delving into the art of safeguarding the digital frontier. Why? Because I'm passionate about coding. Beyond the realms of academia, I find joy in crafting elegant code, transforming ideas into digital reality. Join me on my journey as I navigate the fascinating intersections of Computer Engineering, Information Security, and the thrilling world of coding.
    </p>
  </section>

  <!-- Footer section with contact information -->
  <footer class="text-gray-600">
    <!-- Closing statement with a call to action -->
    <p>I'm actively seeking full-time opportunities in the dynamic realm of full-stack development. If you're in the know about any exciting positions, have inquiries about my skills and experiences, or simply want to say hi, don't hesitate to drop me a line! Reach out anytime via email at, <span class="text-blue-500">ss828863@gmail.com</span>.</p>
  </footer>
</div>
