<!-- Download Resume Button -->
<div class="flex justify-center items-center m-3">
  <!-- Link to trigger the download_resume_path with a styled button -->
  <%= link_to 'Download Resume', download_resume_path, class: 'bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700' %>
</div>

<!-- Resume Image -->
<div class="flex justify-center items-center">
  <!-- Display the resume image with a background color -->
  <%= image_tag('resume.jpg', alt: 'LinkedIn', class: 'bg-gray-400') %>
</div>
